# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect("data.sqlite", detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

[]

## Display the names of all the employees in Boston.

In [3]:
#Your code here
cur.execute("""SELECT lastName, firstName FROM employees 
JOIN offices ON employees.officeCode = offices.officeCode WHERE offices.city = 'Boston'""").fetchall()

[('Firrelli', 'Julie'), ('Patterson', 'Steve')]

## Do any offices have no employees?

In [37]:
#Your code here
cur.execute("""SELECT offices.officeCode, employees.firstName FROM offices 
LEFT JOIN employees ON offices.officeCode = employees.officeCode""").fetchall()

# All offices have employees

[('1', 'Anthony'),
 ('1', 'Diane'),
 ('1', 'Jeff'),
 ('1', 'Leslie'),
 ('1', 'Leslie'),
 ('1', 'Mary'),
 ('2', 'Julie'),
 ('2', 'Steve'),
 ('3', 'Foon Yue'),
 ('3', 'George'),
 ('4', 'Gerard'),
 ('4', 'Gerard'),
 ('4', 'Loui'),
 ('4', 'Martin'),
 ('4', 'Pamela'),
 ('5', 'Mami'),
 ('5', 'Yoshimi'),
 ('6', 'Andy'),
 ('6', 'Peter'),
 ('6', 'Tom'),
 ('6', 'William'),
 ('7', 'Barry'),
 ('7', 'Larry')]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [63]:
# Your code here
# What is the status of all the customers orders?

cur.execute("""SELECT status, customers.customerName, customers.customerNumber   
FROM orders JOIN customers ON orders.customerNumber = customers.customerNumber 
ORDER BY customers.customerName""").fetchall()

[('Shipped', 'AV Stores, Co.', '187'),
 ('Shipped', 'AV Stores, Co.', '187'),
 ('Shipped', 'AV Stores, Co.', '187'),
 ('Shipped', 'Alpha Cognac', '242'),
 ('Shipped', 'Alpha Cognac', '242'),
 ('Shipped', 'Alpha Cognac', '242'),
 ('Shipped', 'Amica Models & Co.', '249'),
 ('Shipped', 'Amica Models & Co.', '249'),
 ('Shipped', "Anna's Decorations, Ltd", '276'),
 ('Shipped', "Anna's Decorations, Ltd", '276'),
 ('Shipped', "Anna's Decorations, Ltd", '276'),
 ('Shipped', "Anna's Decorations, Ltd", '276'),
 ('Shipped', 'Atelier graphique', '103'),
 ('Shipped', 'Atelier graphique', '103'),
 ('Shipped', 'Atelier graphique', '103'),
 ('Shipped', 'Australian Collectables, Ltd', '471'),
 ('Shipped', 'Australian Collectables, Ltd', '471'),
 ('Disputed', 'Australian Collectables, Ltd', '471'),
 ('Shipped', 'Australian Collectors, Co.', '114'),
 ('Shipped', 'Australian Collectors, Co.', '114'),
 ('Shipped', 'Australian Collectors, Co.', '114'),
 ('Shipped', 'Australian Collectors, Co.', '114'),
 ('Shipped', 'Australian Collectors, Co.', '114'),
 ('Shipped', 'Australian Gift Network, Co', '333'),
 ('Shipped', 'Australian Gift Network, Co', '333'),
 ('Shipped', 'Australian Gift Network, Co', '333'),
 ('Shipped', 'Auto Associés & Cie.', '256'),
 ('Shipped', 'Auto Associés & Cie.', '256'),
 ('Shipped', 'Auto Canal+ Petit', '406'),
 ('Shipped', 'Auto Canal+ Petit', '406'),
 ('Shipped', 'Auto Canal+ Petit', '406'),
 ('Shipped', 'Auto-Moto Classics Inc.', '198'),
 ('Shipped', 'Auto-Moto Classics Inc.', '198'),
 ('Shipped', 'Auto-Moto Classics Inc.', '198'),
 ('Shipped', 'Baane Mini Imports', '121'),
 ('Shipped', 'Baane Mini Imports', '121'),
 ('Shipped', 'Baane Mini Imports', '121'),
 ('Shipped', 'Baane Mini Imports', '121'),
 ('Shipped', 'Bavarian Collectables Imports, Co.', '415'),
 ('Shipped', 'Blauer See Auto, Co.', '128'),
 ('Shipped', 'Blauer See Auto, Co.', '128'),
 ('Shipped', 'Blauer See Auto, Co.', '128'),
 ('Shipped', 'Blauer See Auto, Co.', '128'),
 ('Shipped', 'Boards & Toys Co.', '219'),
 ('Shipped', 'Boards & Toys Co.', '219'),
 ('Shipped', 'CAF Imports', '344'),
 ('Shipped', 'CAF Imports', '344'),
 ('Shipped', 'Cambridge Collectables Co.', '173'),
 ('Shipped', 'Cambridge Collectables Co.', '173'),
 ('Shipped', 'Canadian Gift Exchange Network', '202'),
 ('Shipped', 'Canadian Gift Exchange Network', '202'),
 ('Shipped', 'Classic Gift Ideas, Inc', '339'),
 ('Shipped', 'Classic Gift Ideas, Inc', '339'),
 ('Shipped', 'Classic Legends Inc.', '424'),
 ('Shipped', 'Classic Legends Inc.', '424'),
 ('Shipped', 'Classic Legends Inc.', '424'),
 ('Shipped', 'Clover Collections, Co.', '189'),
 ('Shipped', 'Clover Collections, Co.', '189'),
 ('Shipped', 'Collectable Mini Designs Co.', '239'),
 ('Shipped', 'Collectable Mini Designs Co.', '239'),
 ('Shipped', 'Collectables For Less Inc.', '379'),
 ('Shipped', 'Collectables For Less Inc.', '379'),
 ('Shipped', 'Collectables For Less Inc.', '379'),
 ('Shipped', 'Corporate Gift Ideas Co.', '321'),
 ('Shipped', 'Corporate Gift Ideas Co.', '321'),
 ('Shipped', 'Corporate Gift Ideas Co.', '321'),
 ('Shipped', 'Corporate Gift Ideas Co.', '321'),
 ('Shipped', 'Corrida Auto Replicas, Ltd', '458'),
 ('Shipped', 'Corrida Auto Replicas, Ltd', '458'),
 ('Shipped', 'Corrida Auto Replicas, Ltd', '458'),
 ('Shipped', 'Cruz & Sons Co.', '385'),
 ('Shipped', 'Cruz & Sons Co.', '385'),
 ('Shipped', 'Cruz & Sons Co.', '385'),
 ('Shipped', 'Daedalus Designs Imports', '171'),
 ('Shipped', 'Daedalus Designs Imports', '171'),
 ('Shipped', 'Danish Wholesale Imports', '145'),
 ('Shipped', 'Danish Wholesale Imports', '145'),
 ('Shipped', 'Danish Wholesale Imports', '145'),
 ('Resolved', 'Danish Wholesale Imports', '145'),
 ('Disputed', 'Danish Wholesale Imports', '145'),
 ('Shipped', 'Diecast Classics Inc.', '157'),
 ('Shipped', 'Diecast Classics Inc.', '157'),
 ('Shipped', 'Diecast Classics Inc.', '157'),
 ('In Process', 'Diecast Classics Inc.', '157'),
 ('Shipped', 'Diecast Collectables', '495'),
 ('Shipped', 'Diecast Collectables', '495'),
 ('Shipped', 'Double Decker Gift Stores, Ltd', '489'),
 ('Shipped', 'Double Decker Gift Stores, Ltd', '489'),
 ('Shipped', 'Down Under Souveniers, Inc', '323'),
 ('Shipped', 'Down Under Souveniers, Inc', '323'),
 ('Shipped', 'Down Under Souveniers, Inc', '323'),
 ('Shipped', 'Down Under Souveniers, Inc', '323'),
 ('Shipped', 'Down Under Souveniers, Inc', '323'),
 ('Shipped', 'Dragon Souveniers, Ltd.', '148'),
 ('Shipped', 'Dragon Souveniers, Ltd.', '148'),
 ('Shipped', 'Dragon Souveniers, Ltd.', '148'),
 ('Shipped', 'Dragon Souveniers, Ltd.', '148'),
 ('Shipped', 'Dragon Souveniers, Ltd.', '148'),
 ('Shipped', 'Enaco Distributors', '216'),
 ('Shipped', 'Enaco Distributors', '216'),
 ('Shipped', 'Enaco Distributors', '216'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Cancelled', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Resolved', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Euro+ Shopping Channel', '141'),
 ('Disputed', 'Euro+ Shopping Channel', '141'),
 ('In Process', 'Euro+ Shopping Channel', '141'),
 ('Shipped', 'Extreme Desk Decorations, Ltd', '412'),
 ('Shipped', 'Extreme Desk Decorations, Ltd', '412'),
 ('Shipped', 'Extreme Desk Decorations, Ltd', '412'),
 ('Shipped', 'Frau da Collezione', '473'),
 ('Shipped', 'Frau da Collezione', '473'),
 ('Shipped', 'FunGiftIdeas.com', '462'),
 ('Shipped', 'FunGiftIdeas.com', '462'),
 ('Shipped', 'FunGiftIdeas.com', '462'),
 ('Shipped', 'Gift Depot Inc.', '175'),
 ('Shipped', 'Gift Depot Inc.', '175'),
 ('Shipped', 'Gift Depot Inc.', '175'),
 ('Shipped', 'Gift Ideas Corp.', '447'),
 ('Shipped', 'Gift Ideas Corp.', '447'),
 ('Shipped', 'Gift Ideas Corp.', '447'),
 ('Shipped', 'Gifts4AllAges.com', '362'),
 ('Shipped', 'Gifts4AllAges.com', '362'),
 ('On Hold', 'Gifts4AllAges.com', '362'),
 ('Shipped', 'GiftsForHim.com', '357'),
 ('Cancelled', 'GiftsForHim.com', '357'),
 ('Shipped', 'GiftsForHim.com', '357'),
 ('Shipped', 'Handji Gifts& Co', '166'),
 ('Shipped', 'Handji Gifts& Co', '166'),
 ('Shipped', 'Handji Gifts& Co', '166'),
 ('Shipped', 'Handji Gifts& Co', '166'),
 ('Shipped', 'Heintze Collectables', '227'),
 ('Shipped', 'Heintze Collectables', '227'),
 ('Shipped', 'Herkku Gifts', '167'),
 ('Shipped', 'Herkku Gifts', '167'),
 ('Shipped', 'Herkku Gifts', '167'),
 ('Shipped', 'Iberia Gift Imports, Corp.', '484'),
 ('Shipped', 'Iberia Gift Imports, Corp.', '484'),
 ('Shipped', "Kelly's Gift Shop", '496'),
 ('Cancelled', "Kelly's Gift Shop", '496'),
 ('Shipped', "Kelly's Gift Shop", '496'),
 ('Shipped', "Kelly's Gift Shop", '496'),
 ('Shipped', 'King Kong Collectables, Co.', '211'),
 ('Shipped', 'King Kong Collectables, Co.', '211'),
 ('Shipped', "L'ordine Souveniers", '386'),
 ('Shipped', "L'ordine Souveniers", '386'),
 ('Shipped', "L'ordine Souveniers", '386'),
 ('Shipped', "La Corne D'abondance, Co.", '172'),
 ('Shipped', "La Corne D'abondance, Co.", '172'),
 ('Shipped', "La Corne D'abondance, Co.", '172'),
 ('Shipped', 'La Rochelle Gifts', '119'),
 ('Shipped', 'La Rochelle Gifts', '119'),
 ('Shipped', 'La Rochelle Gifts', '119'),
 ('In Process', 'La Rochelle Gifts', '119'),
 ('Shipped', 'Land of Toys Inc.', '131'),
 ('Cancelled', 'Land of Toys Inc.', '131'),
 ('Shipped', 'Land of Toys Inc.', '131'),
 ('Shipped', 'Land of Toys Inc.', '131'),
 ('Shipped', 'Lyon Souveniers', '250'),
 ('Shipped', 'Lyon Souveniers', '250'),
 ('Shipped', 'Lyon Souveniers', '250'),
 ('Shipped', 'Marseille Mini Autos', '350'),
 ('Shipped', 'Marseille Mini Autos', '350'),
 ('Shipped', 'Marseille Mini Autos', '350'),
 ('Shipped', "Marta's Replicas Co.", '286'),
 ('Shipped', "Marta's Replicas Co.", '286'),
 ('Shipped', "Men 'R' US Retailers, Ltd.", '347'),
 ('Shipped', "Men 'R' US Retailers, Ltd.", '347'),
 ('Shipped', 'Microscale Inc.', '456'),
 ('Shipped', 'Microscale Inc.', '456'),
 ('Resolved', 'Mini Auto Werke', '452'),
 ('Shipped', 'Mini Auto Werke', '452'),
 ('Shipped', 'Mini Auto Werke', '452'),
 ('Shipped', 'Mini Caravy', '209'),
 ('Shipped', 'Mini Caravy', '209'),
 ('Shipped', 'Mini Caravy', '209'),
 ('Shipped', 'Mini Classics', '319'),
 ('Shipped', 'Mini Classics', '319'),
 ('Shipped', 'Mini Creations Ltd.', '320'),
 ('Shipped', 'Mini Creations Ltd.', '320'),
 ('Shipped', 'Mini Creations Ltd.', '320'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Gifts Distributors Ltd.', '124'),
 ('In Process', 'Mini Gifts Distributors Ltd.', '124'),
 ('Shipped', 'Mini Wheels Co.', '129'),
 ('Shipped', 'Mini Wheels Co.', '129'),
 ('Shipped', 'Mini Wheels Co.', '129'),
 ('Shipped', 'Motor Mint Distributors Inc.', '486'),
 ('Shipped', 'Motor Mint Distributors Inc.', '486'),
 ('Shipped', 'Motor Mint Distributors Inc.', '486'),
 ('Shipped', 'Muscle Machine Inc', '151'),
 ('Shipped', 'Muscle Machine Inc', '151'),
 ('Shipped', 'Muscle Machine Inc', '151'),
 ('Shipped', 'Muscle Machine Inc', '151'),
 ('Shipped', 'Norway Gifts By Mail, Co.', '299'),
 ('Shipped', 'Norway Gifts By Mail, Co.', '299'),
 ('Shipped', 'Online Diecast Creations Co.', '363'),
 ('Shipped', 'Online Diecast Creations Co.', '363'),
 ('Shipped', 'Online Diecast Creations Co.', '363'),
 ('Shipped', 'Online Mini Collectables', '204'),
 ('Shipped', 'Online Mini Collectables', '204'),
 ('Shipped', 'Osaka Souveniers Co.', '177'),
 ('Shipped', 'Osaka Souveniers Co.', '177'),
 ('Shipped', 'Oulu Toy Supplies, Inc.', '311'),
 ('Shipped', 'Oulu Toy Supplies, Inc.', '311'),
 ('Shipped', 'Oulu Toy Supplies, Inc.', '311'),
 ('Shipped', 'Petit Auto', '314'),
 ('Shipped', 'Petit Auto', '314'),
 ('In Process', 'Petit Auto', '314'),
 ('Shipped', 'Québec Home Shopping Network', '233'),
 ('Shipped', 'Québec Home Shopping Network', '233'),
 ('Shipped', 'Québec Home Shopping Network', '233'),
 ('Shipped', 'Reims Collectables', '353'),
 ('Shipped', 'Reims Collectables', '353'),
 ('Shipped', 'Reims Collectables', '353'),
 ('Shipped', 'Reims Collectables', '353'),
 ('Shipped', 'Reims Collectables', '353'),
 ('Shipped', 'Rovelli Gifts', '278'),
 ('Shipped', 'Rovelli Gifts', '278'),
 ('Shipped', 'Rovelli Gifts', '278'),
 ('Shipped', 'Royal Canadian Collectables, Ltd.', '260'),
 ('Shipped', 'Royal Canadian Collectables, Ltd.', '260'),
 ('Shipped', 'Royale Belge', '381'),
 ('Shipped', 'Royale Belge', '381'),
 ('Shipped', 'Royale Belge', '381'),
 ('Shipped', 'Royale Belge', '381'),
 ('Shipped', 'Salzburg Collectables', '382'),
 ('Shipped', 'Salzburg Collectables', '382'),
 ('Shipped', 'Salzburg Collectables', '382'),
 ('Shipped', 'Salzburg Collectables', '382'),
 ('Shipped', 'Saveley & Henriot, Co.', '146'),
 ('Shipped', 'Saveley & Henriot, Co.', '146'),
 ('Shipped', 'Saveley & Henriot, Co.', '146'),
 ('Cancelled', 'Scandinavian Gift Ideas', '448'),
 ('Shipped', 'Scandinavian Gift Ideas', '448'),
 ('Shipped', 'Scandinavian Gift Ideas', '448'),
 ('Shipped', 'Signal Collectibles Ltd.', '487'),
 ('Shipped', 'Signal Collectibles Ltd.', '487'),
 ('Shipped', 'Signal Gift Stores', '112'),
 ('Shipped', 'Signal Gift Stores', '112'),
 ('Shipped', 'Signal Gift Stores', '112'),
 ('Shipped', 'Souveniers And Things Co.', '282'),
 ('Shipped', 'Souveniers And Things Co.', '282'),
 ('Shipped', 'Souveniers And Things Co.', '282'),
 ('In Process', 'Souveniers And Things Co.', '282'),
 ('Shipped', 'Stylish Desk Decors, Co.', '324'),
 ('Shipped', 'Stylish Desk Decors, Co.', '324'),
 ('Shipped', 'Stylish Desk Decors, Co.', '324'),
 ('Shipped', 'Suominen Souveniers', '334'),
 ('Shipped', 'Suominen Souveniers', '334'),
 ('Shipped', 'Suominen Souveniers', '334'),
 ('Shipped', 'Super Scale Inc.', '455'),
 ('Shipped', 'Super Scale Inc.', '455'),
 ('Shipped', 'Technics Stores Inc.', '161'),
 ('Shipped', 'Technics Stores Inc.', '161'),
 ('Shipped', 'Technics Stores Inc.', '161'),
 ('Shipped', 'Technics Stores Inc.', '161'),
 ('Shipped', 'Tekni Collectables Inc.', '328'),
 ('Shipped', 'Tekni Collectables Inc.', '328'),
 ('On Hold', 'Tekni Collectables Inc.', '328'),
 ('Shipped', 'The Sharp Gifts Warehouse', '450'),
 ('Shipped', 'The Sharp Gifts Warehouse', '450'),
 ('Shipped', 'The Sharp Gifts Warehouse', '450'),
 ('On Hold', 'The Sharp Gifts Warehouse', '450'),
 ('Shipped', 'Tokyo Collectables, Ltd', '398'),
 ('Shipped', 'Tokyo Collectables, Ltd', '398'),
 ('Shipped', 'Tokyo Collectables, Ltd', '398'),
 ('Shipped', 'Tokyo Collectables, Ltd', '398'),
 ('Shipped', 'Toms Spezialitäten, Ltd', '259'),
 ('Shipped', 'Toms Spezialitäten, Ltd', '259'),
 ('Shipped', 'Toys of Finland, Co.', '186'),
 ('Shipped', 'Toys of Finland, Co.', '186'),
 ('Shipped', 'Toys of Finland, Co.', '186'),
 ('Shipped', 'Toys4GrownUps.com', '205'),
 ('Shipped', 'Toys4GrownUps.com', '205'),
 ('Resolved', 'Toys4GrownUps.com', '205'),
 ('Cancelled', 'UK Collectables, Ltd.', '201'),
 ('Shipped', 'UK Collectables, Ltd.', '201'),
 ('Shipped', 'UK Collectables, Ltd.', '201'),
 ('Shipped', 'Vida Sport, Ltd', '298'),
 ('Shipped', 'Vida Sport, Ltd', '298'),
 ('Shipped', 'Vitachrome Inc.', '181'),
 ('Shipped', 'Vitachrome Inc.', '181'),
 ('Shipped', 'Vitachrome Inc.', '181'),
 ('Shipped', 'Volvo Model Replicas, Co', '144'),
 ('Shipped', 'Volvo Model Replicas, Co', '144'),
 ('Shipped', 'Volvo Model Replicas, Co', '144'),
 ('On Hold', 'Volvo Model Replicas, Co', '144'),
 ('Shipped', 'West Coast Collectables Co.', '475'),
 ('Shipped', 'West Coast Collectables Co.', '475'),
 ('Shipped', 'giftsbymail.co.uk', '240'),
 ('Shipped', 'giftsbymail.co.uk', '240')]

In [ ]:
# Your code here
# how many customers made multiple purchases

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [7]:
# Your code here
query = """SELECT firstName, lastName, productName FROM products
JOIN orderdetails ON products.productCode = orderdetails.productCode 
JOIN orders ON orderdetails.orderNumber = orders.orderNumber
JOIN customers ON orders.customerNumber = customers.customerNumber
JOIN employees AS emp ON customers.salesRepEmployeeNumber = emp.employeeNumber"""

#solution from solutions
# query = """select firstName, lastName,
#                       productName
#                       from employees e
#                       join
#                       customers c
#                       on e.employeeNumber = c.salesRepEmployeeNumber
#                       join orders o
#                       using(customerNumber)
#                       join orderdetails od
#                       using(orderNumber)
#                       join products p
#                       using(productCode)"""
df = pd.DataFrame(cur.execute(query).fetchall())
# df[df[2]== "19"]

df

             0          1                                      2
0       George     Vanauf  1969 Harley Davidson Ultimate Chopper
1         Loui     Bondur  1969 Harley Davidson Ultimate Chopper
2         Loui     Bondur  1969 Harley Davidson Ultimate Chopper
3       Leslie   Thompson  1969 Harley Davidson Ultimate Chopper
4       Leslie   Jennings  1969 Harley Davidson Ultimate Chopper
5       Leslie   Jennings  1969 Harley Davidson Ultimate Chopper
6       Gerard  Hernandez  1969 Harley Davidson Ultimate Chopper
7        Barry      Jones  1969 Harley Davidson Ultimate Chopper
8       Leslie   Jennings  1969 Harley Davidson Ultimate Chopper
9         Loui     Bondur  1969 Harley Davidson Ultimate Chopper
10        Andy     Fixter  1969 Harley Davidson Ultimate Chopper
11    Foon Yue      Tseng  1969 Harley Davidson Ultimate Chopper
12      George     Vanauf  1969 Harley Davidson Ultimate Chopper
13      George     Vanauf  1969 Harley Davidson Ultimate Chopper
14      Gerard  Hernandez  1969 Harley Davidson Ultimate Chopper
15       Steve  Patterson  1969 Harley Davidson Ultimate Chopper
16       Larry       Bott  1969 Harley Davidson Ultimate Chopper
17       Barry      Jones  1969 Harley Davidson Ultimate Chopper
18       Steve  Patterson  1969 Harley Davidson Ultimate Chopper
19      George     Vanauf  1969 Harley Davidson Ultimate Chopper
20      Pamela   Castillo  1969 Harley Davidson Ultimate Chopper
21       Peter      Marsh  1969 Harley Davidson Ultimate Chopper
22        Andy     Fixter  1969 Harley Davidson Ultimate Chopper
23      Gerard  Hernandez  1969 Harley Davidson Ultimate Chopper
24       Steve  Patterson  1969 Harley Davidson Ultimate Chopper
25       Peter      Marsh  1969 Harley Davidson Ultimate Chopper
26       Larry       Bott  1969 Harley Davidson Ultimate Chopper
27      Gerard  Hernandez  1969 Harley Davidson Ultimate Chopper
28       Barry      Jones               1952 Alpine Renault 1300
29       Barry      Jones               1952 Alpine Renault 1300
...        ...        ...                                    ...
2966      Loui     Bondur                       Boeing X-32A JSF
2967    Leslie   Jennings                       Boeing X-32A JSF
2968      Andy     Fixter                       Boeing X-32A JSF
2969    Pamela   Castillo                             Pont Yacht
2970      Mami      Nishi                             Pont Yacht
2971     Larry       Bott                             Pont Yacht
2972    Leslie   Jennings                             Pont Yacht
2973    Gerard  Hernandez                             Pont Yacht
2974     Barry      Jones                             Pont Yacht
2975    Martin     Gerard                             Pont Yacht
2976     Julie   Firrelli                             Pont Yacht
2977    Martin     Gerard                             Pont Yacht
2978      Loui     Bondur                             Pont Yacht
2979    Leslie   Thompson                             Pont Yacht
2980     Larry       Bott                             Pont Yacht
2981    George     Vanauf                             Pont Yacht
2982  Foon Yue      Tseng                             Pont Yacht
2983    Pamela   Castillo                             Pont Yacht
2984    George     Vanauf                             Pont Yacht
2985    Pamela   Castillo                             Pont Yacht
2986     Larry       Bott                             Pont Yacht
2987    Gerard  Hernandez                             Pont Yacht
2988    Pamela   Castillo                             Pont Yacht
2989  Foon Yue      Tseng                             Pont Yacht
2990    Gerard  Hernandez                             Pont Yacht
2991     Peter      Marsh                             Pont Yacht
2992     Larry       Bott                             Pont Yacht
2993    Gerard  Hernandez                             Pont Yacht
2994    Gerard  Hernandez                             Pont Yacht
2995     Steve  Patterson                             Pont Yacht

[2996 rows x 3 columns]

## Level Up: Display the Number of Products each Employee Has sold

In [15]:
df1.groupby([0,1]).count()

                    2
0        1
Andy     Fixter     1
Barry    Jones      1
Foon Yue Tseng      1
George   Vanauf     1
Gerard   Hernandez  1
Julie    Firrelli   1
Larry    Bott       1
Leslie   Jennings   1
         Thompson   1
Loui     Bondur     1
Mami     Nishi      1
Martin   Gerard     1
Pamela   Castillo   1
Peter    Marsh      1
Steve    Patterson  1

In [16]:
#Your code here
query = """SELECT firstName, lastName, COUNT(productName) FROM products
JOIN orderdetails ON products.productCode = orderdetails.productCode 
JOIN orders ON orderdetails.orderNumber = orders.orderNumber
JOIN customers ON orders.customerNumber = customers.customerNumber
JOIN employees AS emp ON customers.salesRepEmployeeNumber = emp.employeeNumber 
GROUP BY emp.employeeNumber ORDER BY firstName, lastName"""

df1 = pd.DataFrame(cur.execute(query).fetchall())
df1.columns = [i[0] for i in cur.description]
df1

   firstName   lastName  COUNT(productName)
0       Andy     Fixter                 185
1      Barry      Jones                 220
2   Foon Yue      Tseng                 142
3     George     Vanauf                 211
4     Gerard  Hernandez                 396
5      Julie   Firrelli                 124
6      Larry       Bott                 236
7     Leslie   Jennings                 331
8     Leslie   Thompson                 114
9       Loui     Bondur                 177
10      Mami      Nishi                 137
11    Martin     Gerard                 114
12    Pamela   Castillo                 272
13     Peter      Marsh                 185
14     Steve  Patterson                 152

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!